.bk {
  width: 100%;
}

.bk-root {
  position: unset;
  width: unset;
  height: unset;
  z-index: unset;
  box-sizing: unset;
  font-family: unset;
  font-size: unset;
}

.p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.d-contents.d-contents {
  display: contents;
}

.software-card-github-button {
  width: 90px;
}

.software-card-docs-button {
  width: 75px;
}

.software-card-img.software-card-img {
  max-height: 250px;
  margin: 20px 0px 20px 20px;
  width: 20%;
}

.software-card-header-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
}

.software-card-header-text-wrapper {
  margin-left: 20px;
}

// Bootstrap variable overrides
$body-bg: #fbfcfd;

$theme-colors: (
  "primary": #25ad30,
);

@import "bootstrap-material/scss/bootstrap-material-design";

.carousel-item > img {
  opacity: 35%;
  object-position: center;
  object-fit: cover;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;

  @include media-breakpoint-up(md) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.software-card {
  @include media-breakpoint-up(lg) {
    min-height: 500px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 400px;
  }
}

.software-card-img-placeholder {
  font-size: 5em;
  @include media-breakpoint-up(lg) {
    font-size: 3em;
  }
}
