<div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h2 class="featurette-heading">Who am I?</h2>
      <p class="lead">I'm a Finance Ph.D. candidate at the University of Florida. I enjoy the life of a professor while engineering software on the side.</p>
      <div class="story-highlight-pane-button-wrapper">
        {{ embed(button) }}
      </div>
    </div>
    <div class="col-md-7 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="{{ model.image_src }}">
    </div>
  </div>