<div class="row featurette">
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h2 class="featurette-heading contact-heading">Want to Hire Me?</h2>
    <form action="mailto:{{ model.email }}" class="contact-button-wrapper">
      <button type="submit" class="btn btn-primary btn-raised btn-lg">
        <i class="far fa-envelope contact-button-icon"></i>
        Send me an Email
      </button>
    </form>
  </div>
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h2 class="featurette-heading contact-heading">Not Convinced?</h2>
    <div class="contact-not-convinced-button-container d-flex flex-wrap justify-content-around">
      {% for button in buttons %}
        {{ embed(button) }}
      {% endfor %}
      {{ embed(cv_button, css_classes=['d-contents']) }}
    </div>
  </div>
</div>