<section
  class="research-banner text-center d-flex flex-column justify-content-center"
>
  <img src="assets/images/research-banner.jpg" />
  <div class="container research-banner-content-container">
    <h1>Research Works</h1>
    <p class="lead">
      I am a Finance Ph.D. student at the University of Florida currently
      focusing on market intervention, alternative assets, and behavioral
      finance. Find my projects here or on my CV.
    </p>
    <p>
      <a
        href="assets/pdfs/generated/Nick DeRobertis CV.pdf"
        ndsClickEvent
        [event]="viewCVEvent"
      >
        <button
          class="has-pdf btn btn-primary border border-primary bg-offset-dark"
        >
          View CV
        </button>
      </a>
    </p>
  </div>
</section>
