<div class="{{ containerClassStr }}">
  <div
    class="col-md-7 research-header-description-container d-flex flex-column justify-content-center"
  >
    <h2 class="research-pane-heading">{{ model.title }}</h2>
    <h6 *ngIf="model.coAuthors.length > 0">With {{ model.coAuthorsStr }}</h6>
    <p class="lead">{{ model.description }}</p>
  </div>
  <div
    class="col-md-5 d-flex flex-wrap align-content-center justify-content-center"
  >
    <nds-research-category
      *ngFor="let category of model.categories"
      [model]="category"
    ></nds-research-category>
    <div
      class="research-resources-container"
      *ngIf="model.resources.length > 0"
    >
    <hr class="research-resource-divider">
    <h4 class="research-resource-header">Links</h4>
    <ul>
      <nds-research-resource
      *ngFor="let resource of model.resources"
      [model]="resource"
    ></nds-research-resource>
    </ul>
    </div>
  </div>
</div>
