{% if not model.is_child %}
<div class="dropdown show">
{% endif %}
    <a class="{% if model.is_child %}dropdown-item {% endif %}{% if items %}dropdown-toggle{% endif %}"
       href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ model.title }} {{ model.level }}
    </a>
    {% if items %}
      <ul class="dropdown-menu">
        {% for child in items %}
          <li class="dropdown-submenu">
            {{ embed(child) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
{% if not model.is_child %}
</div>
{% endif %}
