<div class="row featurette">
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h2 class="featurette-heading contact-heading">Want to Hire Me?</h2>
    <a
      target="_top"
      href="mailto:{{ personalDetails.email }}"
      class="contact-button-wrapper"
    >
      <button class="btn btn-primary btn-raised btn-lg">
        <i class="far fa-envelope contact-button-icon"></i>
        Send me an Email
      </button>
    </a>
  </div>
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h2 class="featurette-heading contact-heading">Not Convinced?</h2>
    <div
      class="contact-not-convinced-button-container d-flex flex-wrap justify-content-around"
    >
      <a *ngFor="let link of routerLinks" [routerLink]="link.link">
        <button class="btn btn-primary scroll-to-top-immediately btn-raised">
          {{ link.title }}
        </button>
      </a>
      <a *ngFor="let link of normalLinks" href="{{ link.link }}">
        <button class="btn btn-primary btn-raised">{{ link.title }}</button>
      </a>
    </div>
  </div>
</div>
