<div class="row featurette">
  <div class="col-md-5 order-md-2">
    <h2 class="featurette-heading">Who am I?</h2>
    <p class="lead">
      I am a serial entrepreneur and UF Finance Ph.D. graduate with a wide
      variety of skills. Currently I'm working as a CTO, engineer, and product
      manager across three positions. I enjoy engineering software solutions,
      researching finance topics, and sharing my knowledge with the world.
    </p>
    <div class="story-highlight-pane-button-wrapper">
      <a [routerLink]="'bio'">
        <button class="btn btn-primary scroll-to-top-immediately btn-raised">
          View Bio
        </button>
      </a>
    </div>
  </div>
  <div class="col-md-7 order-md-1">
    <img
      class="featurette-image img-fluid mx-auto"
      src="assets/images/nick-derobertis.jpg"
    />
  </div>
</div>
