<div class="row featurette">
  <div class="col-md-5 order-md-2">
    <h2 class="featurette-heading">Who am I?</h2>
    <p class="lead">
      I'm a Finance Ph.D. candidate at the University of Florida,
      graduating in May 2021. I enjoy
      researching finance topics, engineering software solutions,
      and sharing my knowledge with the world.
    </p>
    <div class="story-highlight-pane-button-wrapper">
      <a [routerLink]="'story'">
        <button class="btn btn-primary scroll-to-top-immediately btn-raised">
          View Story
        </button>
      </a>
    </div>
  </div>
  <div class="col-md-7 order-md-1">
    <img
      class="featurette-image img-fluid mx-auto"
      src="assets/images/nick-derobertis.jpg"
    />
  </div>
</div>
