<div class="story-page-container">
  <img class="inner cover story-cover" src="assets/images/story-cover.png" />
  <div class="container story-page-content-container">
    <h1 class="cover-heading text-center">Optimizing Life</h1>
    <h3 class="cover-heading">Early Days</h3>
    <div class="lead p">
      I was born and raised in Virginia and from an early age I realized I only
      had limited time on this planet. Since then I have sought every day to
      maximize my impact on the world and get the most enjoyment out of life.
    </div>
    <h3 class="cover-heading">Philisophy</h3>
    <h4 class="cover-heading">
      Continuous Learning, Innovation, and Open Collaboration
      <span class="story-header-logo-wrapper">
        <i class="far fa-lightbulb"></i>
      </span>
    </h4>
    <div class="lead p">
      When taking on a project, I always try to learn something new and usually
      develop some tools along the way. In trying to maximize my impact, I have
      open-sourced <a routerLink="software">many of these tools.</a> My hope is
      that the net productivity gain to the finance, data science, and web
      development industries from open-sourcing these tools will be far greater
      than the amount of work I could produce alone. If everyone agrees to
      collaborate openly rather than keeping tools or knowledge for themselves
      or teams then society will be much better off as a whole.
    </div>
    <h4 class="cover-heading">
      Reproducible Research
      <span class="story-header-logo-wrapper">
        <i class="fas fa-recycle"></i>
      </span>
    </h4>
    <div class="lead p">
      Another reason for my focus on software and automation is because I
      believe we would gain much more understanding of finance if our research
      studies were consistently open and reproducible.
    </div>
    <h5 class="cover-heading text-primary">
      The Problem
      <span class="story-header-logo-wrapper">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </h5>
    <div class="lead p">
      Our studies often require complex manipulations of data for cleaning,
      merging, aggregating, analyzing, and visualizing. A research project that
      completes all of its stages from raw data to publication and presentation,
      in well-organized, modular, readable code currently easily spans tens of
      thousands of lines of code. Asking someone who also needs to know
      statistics, econometrics, economic theory, visualization, writing, and
      presentation to learn the level of software engineering skill currently
      required to execute this is too much of a burden for most.
    </div>
    <h5 class="cover-heading text-green">
      The Solution
      <span class="story-header-logo-wrapper">
        <i class="far fa-check-circle"></i>
      </span>
    </h5>
    <div class="lead p">
      Automation, open source software, and version control are the keys to this
      future. An empirical research project should be able to run from the raw
      data sources to the full analysis, publication, and presentation by
      executing a single line of code and this is how I structure all my
      projects. The code and data should be submitted along with a journal
      submission and the reviewer should reproduce the results and inspect the
      code and data.
    </div>
    <div class="lead p">
      To make our research reproducible, some empirical researchers need to put
      a greater focus on software which automates the more difficult parts of
      the process and share it openly with the world. Then research projects
      could be completed with far less code and be automatically reproducible. I
      hope to do my part towards this end while also completing research and
      teaching.
    </div>
    <h3 class="cover-heading">Day to Day</h3>
    <div class="lead p">
      I spend most of my time researching finance topics, teaching, and building
      these tools, but when I get some extra time I love to work with my hands
      and experience the outdoors. I have been maintaining our family's vehicles
      since 2009 and take any chance I can get to go hiking or camping.
    </div>
  </div>
</div>
