{
    "family": "{{ names.ecs_task_definition }}",
    "networkMode": "awsvpc",
    "containerDefinitions": [
        {
            "name": "{{ names.app }}",
            "image": "{{ names.app }}:latest",
            "portMappings": [
                {
                    "containerPort": 80,
                    "hostPort": 80,
                    "protocol": "tcp"
                },
                {
                    "containerPort": 22,
                    "hostPort": 22,
                    "protocol": "tcp"
                }
            ],
            "secrets": [
                {
                    "valueFrom": "arn:aws:ssm:{{ aws.default_region }}:{{ aws.root_account_id }}:parameter/SSH_PUBLIC_KEY",
                    "name": "SSH_PUBLIC_KEY"
                },
                {
                    "valueFrom": "arn:aws:ssm:{{ aws.default_region }}:{{ aws.root_account_id }}:parameter/BE_SENTRY_DSN",
                    "name": "BE_SENTRY_DSN"
                }
            ],
            "essential": true,
            "logConfiguration": {
                "logDriver": "awslogs",
                "options": {
                   "awslogs-group" : "/ecs/{{ names.app }}",
                   "awslogs-region": "{{ aws.default_region }}",
                   "awslogs-stream-prefix": "{{ names.app }}",
                   "awslogs-create-group": "true"
                }
            }
        }
    ],
    "requiresCompatibilities": [
        "FARGATE"
    ],
    "executionRoleArn": "arn:aws:iam::{{ aws.root_account_id }}:role/{{ names.ecs_execution_role }}",
    "cpu": "256",
    "memory": "1024"
}