{
    "family": "{{ app_name }}-task-description",
    "networkMode": "awsvpc",
    "containerDefinitions": [
        {
            "name": "{{ app_name }}-main-app",
            "image": "{{ app_name }}:latest",
            "portMappings": [
                {
                    "containerPort": 80,
                    "hostPort": 80,
                    "protocol": "tcp"
                }
            ],
            "essential": true,
            "logConfiguration": {
                "logDriver": "awslogs",
                "options": {
                   "awslogs-group" : "/ecs/{{ app_name }}",
                   "awslogs-region": "{{ aws_region }}",
                   "awslogs-stream-prefix": "{{ app_name }}"
                }
            }
        }
    ],
    "requiresCompatibilities": [
        "FARGATE"
    ],
    "executionRoleArn": "arn:aws:iam::{{ aws_account_id }}:role/{{ app_name }}-execution-role",
    "cpu": "256",
    "memory": "512"
}