<div class="page-container">
  <nds-home-carousel></nds-home-carousel>
  <div class="container marketing">
    <div class="row">
      <nds-home-card
        *ngFor="let model of cardModels"
        [model]="model"
        class="col-md-4 home-page-card-wrapper"
      ></nds-home-card>
    </div>
    <hr class="featurette-divider" />
    <nds-home-story></nds-home-story>
    <hr class="featurette-divider" />
    <nds-timeline-pane></nds-timeline-pane>
    <hr class="featurette-divider" />
    <nds-skills-pane id="skills"></nds-skills-pane>
    <hr class="featurette-divider" />
    <nds-awards-pane></nds-awards-pane>
    <hr class="featurette-divider" />
    <nds-contact-pane></nds-contact-pane>
  </div>
</div>
