<section
  class="software-banner text-center d-flex flex-column justify-content-center"
>
  <img src="assets/images/software-banner.jpg" />
  <div class="container software-banner-content-container">
    <h1>Open-Source Software</h1>
    <p class="lead">
      I am a strong believer in and avid developer of open-source software,
      especially Python packages. View the projects here or on my Github
      profile.
    </p>
    <p>
      <a
        href="https://github.com/nickderobertis"
        class="btn btn-primary border border-primary my-2 bg-offset-dark"
        >View on Github</a
      >
    </p>
  </div>
</section>
