<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://nickderobertis.github.io/derobertis-project-logo/_images/nick_derobertis_site.svg"
        alt="Nick DeRobertis Logo"
        class="logo"
      />
      Nick DeRobertis
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <div class="d-contents d-md-block">
          <a *ngFor="let link of routerLinks" [routerLink]="link.link">
            <button
              class="header-btn btn btn-primary scroll-to-top-immediately btn-narrow"
            >
              {{ link.title }}
            </button>
          </a>
          <a
            *ngFor="let link of normalLinks"
            href="{{ link.link }}"
            ndsClickEvent
            [event]="viewCVEvent"
          >
            <button class="header-btn btn btn-primary btn-narrow">
              {{ link.title }}
            </button>
          </a>
        </div>
        <a
          href="https://github.com/nickderobertis"
          class="nav-icon"
          ndsClickEvent
          [event]="viewGithubEvent"
        >
          <i class="fab fa-github fa-lg"></i>
        </a>
      </ul>
    </div>
  </nav>
</header>
