<div class="row featurette" id="skills-pane">
  <div
    class="col-md-3 d-flex flex-column justify-content-center"
    *ngIf="!loading"
  >
    <h2 class="featurette-heading">Skilled in...</h2>
    <p class="lead skills-pane-description">
      {{ description }}
    </p>
    <div class="skill-pane-options-wrapper d-flex justify-content-center">
      <div
        class="skill-pane-options card shadow d-flex flex-column justify-content-around"
      >
        <p class="lead">Skills Options</p>
        <button
          class="btn btn-primary btn-raised skill-pane-button"
          (click)="changeActiveComponent('chart')"
        >
          View Chart
        </button>
        <button
          class="btn btn-primary btn-raised skill-pane-button"
          (click)="changeActiveComponent('dropdowns')"
        >
          View Dropdowns
        </button>
      </div>
    </div>
  </div>
  <nds-loading-spinner *ngIf="loading"></nds-loading-spinner>
  <div class="col-md-9 d-flex flex-column justify-content-around">
    <nds-skills-chart [ngStyle]="chartStyles"></nds-skills-chart>
    <nds-skills-widget [ngStyle]="dropdownStyles"></nds-skills-widget>
  </div>
</div>
