<div class="timeline-widget-container">
  <nds-loading-spinner *ngIf="loading"></nds-loading-spinner>
  <div *ngIf="!loading">
    <google-chart
      *ndsAppShellNoRender
      [type]="chartType"
      [data]="chartData"
      [columns]="model.chartColumns"
      [options]="{ tooltip: { trigger: 'none' } }"
      [dynamicResize]="true"
      (mouseover)="onMouseOver($event)"
    ></google-chart>
    <div *ngIf="selectedModel">
      <h5>{{ selectedModel.organization }}</h5>
      <h6>{{ selectedModel.role }}</h6>
      <div>
        <span>{{ selectedModel.beginDateStr }}</span>
        <span>-</span>
        <span>{{ selectedModel.endDateStr }}</span>
      </div>
      <ul>
        <li *ngFor="let desc of selectedModel.description">{{ desc }}</li>
      </ul>
    </div>
  </div>
</div>
